* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;

  color: var(--color-black);
  background-color: var(--color-background);

  font-family:
    Pretendard, "Apple SD Gothic Neo", "Noto Sans KR", Arial, sans-serif;
  letter-spacing: -0.02em;
}

button,
input,
textarea {
  color: inherit;
  font: inherit;
}

button {
  cursor: pointer;
}

button,
a,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-primary);
}

a {
  color: inherit;
  text-decoration: none;
}
