:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-background: #f4f5f7;
  --color-border: #d9d9d9;
  --color-muted: #777777;
  --color-avatar: #d9d9d9;
  --color-primary: #7f6aee;
  --color-primary-hover: #6f5bd8;
  --color-primary-light: #aca0eb;
  --color-error: #ff0000;

  --header-height: 104px;
  --header-height-mobile: 80px;
  --content-width: 592px;
  --form-width: 392px;
}
