.header {
  width: 100%;
  height: var(--header-height);

  border-bottom: 1px solid #3c3c42;

  color: var(--color-white);
  background-color: #29292d;
}

.header-inner {
  position: relative;

  width: 100%;
  max-width: var(--content-width);
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
}

.header-title {
  font-size: 27px;
  font-weight: 400;
  line-height: 1;
}

.back-button {
  position: absolute;
  left: 18px;

  width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  color: var(--color-white);
  background-color: transparent;

  font-size: 38px;
  font-weight: 300;
  line-height: 1;
}

@media screen and (max-width: 600px) {
  .header {
    height: var(--header-height-mobile);
  }

  .header-title {
    font-size: 21px;
  }

  .back-button {
    left: 12px;

    width: 34px;
    height: 34px;

    font-size: 32px;
  }
}
