.toast-message {
  position: fixed;
  left: 50%;
  bottom: 80px;
  z-index: 1100;

  min-width: 108px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 20px;

  border-radius: 24px;

  color: var(--color-white);
  background-color: var(--color-primary-light);

  font-size: 16px;

  transform: translateX(-50%);
}
